<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./header.ejs') %>
    <title>User</title>
</head>
<body>
    <%- include('./navbar.ejs') %> 
    <div id="main">
        <div class="container">
            <h1>Welcome!</h1>
            <% if(!login) { %>
                <input type="text" name="email" id="email" /></br>
                <input type="password" name="password" id="password"></br>
                <button onclick="login()">login</button>
            <% } else { %>
                <table border style="border: 1px solid black;">
                    <tbody>
                        <tr>
                            <td>Is Manager</td>
                            <td><%= data.manager%></td>
                        </tr>
                        <tr>
                            <td>Id</td>
                            <td><%= data.id%></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><%= data.email%></td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td><%= data.name%></td>
                        </tr>
                        <tr>
                            <td>Permission</td>
                            <% for(let i = 0;i < data.permission.length;i++) { %>
                                <td><%= data.permission[i][0]%> : <%= data.permission[i][1]%></td>
                            <% } %>
                        </tr>
                    </tbody>
                </table>
                <button onclick="logout()">logout</button>
            <% } %>
        </div>
    </div>
    <script src="/javascripts/base.js"></script>
    <script>
        function login() {
            postAjax("/user/login", {
                email: document.getElementById("email").value,
                password: document.getElementById("password").value
            }, (res)=>{
                window.location.href = "/"
            });
        }
        function logout() {
            postAjax("/user/logout", {}, (res) => {
                console.log(res.success)
            });
            window.location.reload();
        }
    </script>    
</body>

</html>