<!DOCTYPE html>
<html>

<head>
  <%- include('./header.ejs') %>
    <title>Index</title>
</head>

<body>
  <%- include('./navbar.ejs') %>
    <div id="main">
      <% for(let i=0;i < users.length;i++) { %>
      <div class="container">
        <h1 class="title">User <%= users[i].id %></h1>
        <div class="users-table">
            <form action="/user/update/<%= users[i].id %>" method="GET">
            <div class="row width300" id="<%= users[i].id %>">
              <table>
                <thead>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Is Manager</th>
                </thead>
                <tbody>
                  <tr>
                    <td><%= users[i].name%></td>
                    <td><%= users[i].email%></td>
                    <td><%= (users[i].manager == "1" ? "Manager" : "")%></td>
                  </tr>
                </tbody>
              </table>
              <button type="button" class="detailBtn right">Edit</button>
            </div>
            <div class="collapse-content row-detail <%= users[i].id %>">
              <p class="subtitle">Information</p>
              <ul class="user-information-list">
                <li>Name : <input name="name" value="<%= users[i].name %>"></li>
                <li>Email : <input name="email" value="<%= users[i].email %>"></li>
                <li>Password : <input name="password" value="<%= users[i].password%>"</li>
                <li>Is Manager : 
                  <select name="ismanager" class="managerOrNotSelect">
                    <option value="1">Manager</option>
                    <option value="0">Not manager</option>
                  </select>
                </li>
                <li>Team :
                  <select name="affteam" class="teamListSelect"></select>
                </li>
              </ul>
              <p class="subtitle">Team permission</p>
              <ul class="team-list">

              </ul>
            </div>
            </form>
            <script>
              getAjax("/teams/get/list", (res) => {
                let select = document.getElementsByClassName("<%= users[i].id %>")[0].getElementsByClassName("teamListSelect")[0];
                new Promise((rs, rj) => {
                  getAjax("/user/get/team/<%= users[i].id %>", (res) => {
                    rs(JSON.parse(res))
                  })
                }).then((json) => {
                  JSON.parse(res).teams.forEach((team) => {
                    let opt = document.createElement("option")
                    const id = team[1].replace('/teams/', '');
                    if(id == json.data[0].team) {
                      opt.selected = true;
                    }
                    opt.value = id
                    opt.innerText = team[0]
                    select.appendChild(opt);
                  })
                })
                
              })
              
              if("<%= users[i].manager %>" == "1")
                document.getElementsByClassName("<%= users[i].id %>")[0].getElementsByClassName("managerOrNotSelect")[0].value = 1;
              else
                document.getElementsByClassName("<%= users[i].id %>")[0].getElementsByClassName("managerOrNotSelect")[0].value = 0;

              "<%= users[i].permission%>".split(',').forEach((p) => {
                let row = document.getElementById("<%= users[i].id%>").nextElementSibling;
                let ul = row.getElementsByClassName("team-list")[0];
                ul.classList.add("overflow-y")
                ul.classList.add("height150")
                p = p.trim().split(' ');
                const teamId = p[0];
                const permission = p[1];
                getAjax("/teams/get/" + teamId, (res) => {
                  const team = JSON.parse(res).team;
                  if(!team) return;
                  let li = document.createElement("li");
                  let delBtn = document.createElement("button");
                  delBtn.type = "button";
                  delBtn.innerText = "X";
                  delBtn.classList.add("floatright")
                  li.innerHTML = team.name+" "+"<select><option value='"+teamId+" R' "+(permission == "R" ? "selected" : "")+">Read-only</option><option value='"+teamId+" RW' "+(permission == "RW" ? "selected" : "")+">Read&Write</option></select>";
                  delBtn.addEventListener("click", () => {
                    li.parentElement.removeChild(li);
                  })
                  li.appendChild(delBtn);
                  ul.appendChild(li);

                  let select = li.getElementsByTagName("select")[0];
                  select.name = "[team]"+teamId;
                  for(let i = 0;i < select.options.length;i++) {
                    if(select.options[i].value == permission) {
                      select.selectedIndex = i;
                      break;
                    }
                  }
                });
                row.appendChild(ul);
              })
              document.getElementById("<%= users[i].id%>").getElementsByClassName("detailBtn")[0].addEventListener("click", () => {
                let div = document.getElementById("<%= users[i].id%>").nextElementSibling;
                let form = document.getElementById("<%= users[i].id %>").parentElement;
                let btn =form.getElementsByClassName("detailBtn")[0];
                if (div.style.display == "block") {
                  if(confirm("Surely Save?")) {
                    form.submit();
                  }
                  btn.innerText = "Edit"
                  div.style.display = "none";
                } else {
                  btn.innerText = "Save";
                  div.style.display = "block";
                }
              })
            </script>
        </div>
        
      </div>
      <% } %>
      <script src="/javascripts/base.js"></script>
    </div>
</body>

</html>